@tailwind base;
@tailwind components;
@tailwind utilities;

body {
  font-family: "Nunito Sans", sans-serif;
  font-optical-sizing: auto;
  color: #fff;
}

input,
button,
a,
select,
option,
input::placeholder {
  font-family: inherit;
}
